:root{
    --black: #000000;
    --white: #ffffff;
    --orange: #c54c21;
    --blue: #184a96;
    --gray: #b4bbb4;
    --light-gray: #dee2e1;
    --dark-gray: #515a5c;
    --mid-gray: #676767;
    --font: #dadada;
    --icon-size: 48px;
    --icon-size-small: 32px;
}
:root{
    --faction-generic: url('../assets/faction/generic.png');
    --faction-aeldari: url('../assets/faction/aeldari.png');
    --faction-chaos: url('../assets/faction/chaos.png');
    --faction-imperium: url('../assets/faction/imperium.png');
    --faction-necron: url('../assets/faction/necron.png');
    --faction-ork: url('../assets/faction/ork.png');
    --faction-spacemarines: url('../assets/faction/spacemarines.png');
    --faction-tau: url('../assets/faction/tau.png');
    --faction-tyranid: url('../assets/faction/tyranid.png');
    --faction-votann: url('../assets/faction/votann.png');
    --d6-0: url('../assets/image/d6-0.png');
    --d6-1: url('../assets/image/d6-1.png');
    --d6-2: url('../assets/image/d6-2.png');
    --d6-3: url('../assets/image/d6-3.png');
    --d6-4: url('../assets/image/d6-4.png');
    --d6-5: url('../assets/image/d6-5.png');
    --d6-6: url('../assets/image/d6-6.png');
}
*,*::before,*::after{box-sizing:border-box;min-width:0;}
html {
    font-family: 'Verdana','sans-serif';
    font-size: 12px;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
table{width:100%;border-collapse:collapse;}
a{text-decoration-style:dotted;color:inherit;}
input,select{font-family:inherit;}

img.inline-image{display:inline-block;max-height:1.5em;vertical-align:middle;}
.title{text-transform:uppercase;color:var(--orange);}

.flex{display:flex;align-items:flex-start;}
.flex.row{flex-direction:row;}
.flex.column{flex-direction:column;}
.flex.nowrap{flex-wrap:nowrap;}
.flex.gap{gap:1em;}

.button{
    display: inline-block;
    text-align: center;
    line-height: 1em;
    padding: 0.5em 0.75em;
    border: 1px solid var(--dark-gray);
    border-radius: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.elevatedButton {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    line-height: 0.75em;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kill-team-overview {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.kill-team-phases{text-align:center;}
.kill-team-phases h2{color:var(--orange);}

.kill-team-battle-manager {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.kill-team-battle-manager .points-manager {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.kill-team-battle-manager .points-manager .points-area {
    min-height: calc(var(--icon-size) + 2em);
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.kill-team-battle-manager .points-manager .point {
    width: var(--icon-size);
    height: var(--icon-size);
    background-image: var(--faction-generic);
    background-size: contain;
}
.kill-team-battle-manager .points-manager .dice {
    width: var(--icon-size);
    height: var(--icon-size);
    background-image: var(--d6-0);
    background-size: contain;
}
.kill-team-battle-manager .points-manager .dice.d6-1{background-image:var(--d6-1);}
.kill-team-battle-manager .points-manager .dice.d6-2{background-image:var(--d6-2);}
.kill-team-battle-manager .points-manager .dice.d6-3{background-image:var(--d6-3);}
.kill-team-battle-manager .points-manager .dice.d6-4{background-image:var(--d6-4);}
.kill-team-battle-manager .points-manager .dice.d6-5{background-image:var(--d6-5);}
.kill-team-battle-manager .points-manager .dice.d6-6{background-image:var(--d6-6);}
.kill-team-battle-manager[for=aeldari] .points-manager .point{background-image:var(--faction-aeldari);}
.kill-team-battle-manager[for=chaos] .points-manager .point{background-image:var(--faction-chaos);}
.kill-team-battle-manager[for=imperium] .points-manager .point{background-image:var(--faction-imperium);}
.kill-team-battle-manager[for=necron] .points-manager .point{background-image:var(--faction-necron);}
.kill-team-battle-manager[for=ork] .points-manager .point{background-image:var(--faction-ork);}
.kill-team-battle-manager[for=spacemarines] .points-manager .point{background-image:var(--faction-spacemarines);}
.kill-team-battle-manager[for=tau] .points-manager .point{background-image:var(--faction-tau);}
.kill-team-battle-manager[for=tyranid] .points-manager .point{background-image:var(--faction-tyranid);}
.kill-team-battle-manager[for=votann] .points-manager .point{background-image:var(--faction-votann);}

.kill-team-battle-manager .points-manager .actions {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
}

.legend {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0.5em;
}

/* .kill-team-item{width:400px;} */
.kill-team-item .title{font-size:1.4em;}
.kill-team-item .kill-team-ability,
.kill-team-item .kill-team-actions,
.kill-team-item .kill-team-weapons{margin:1em 0;}

.kill-team-ability .ability-table{margin:1em 0;border:1px solid var(--black);}
.kill-team-ability .ability-table th,
.kill-team-ability .ability-table td{padding:4px;}
.kill-team-ability .ability-table thead {
    background-color: var(--black);
    color: var(--white);
    text-align: left;
}
.kill-team-ability .ability-table tbody tr:nth-child(even) {
    background-color: var(--light-gray);
}
.kill-team-ability .ability-table thead th:nth-child(1),
.kill-team-ability .ability-table tbody td:nth-child(1) {
    text-align: center;
    font-weight: bold;
}

.ploy {
    margin:1em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5em;
}
.ploy header {
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.kill-team-strategic-ploys .ploy header{background-color:var(--dark-gray);color:var(--white);}
.kill-team-tactical-ploys .ploy header{background-color:var(--black);color:var(--white);}

.kill-team-psychic-power{margin:1em 0;}
.kill-team-psychic-power header {
    background-color: var(--blue);
    color: var(--white);
    padding: 2px 4px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.kill-team-weapons tbody:nth-child(odd){background-color:var(--light-gray);}
.kill-team-weapons tr th,
.kill-team-weapons tr td{padding-right:3px;padding-left:3px;}
.kill-team-weapons thead{background-color:var(--gray);}
.kill-team-weapons tbody{text-align:center;}
.kill-team-weapons tr th:nth-child(1){width:1%;}
.kill-team-weapons tr th:nth-child(2),
.kill-team-weapons tr td:nth-child(2),
.kill-team-weapons tr td[colspan]{text-align:left;}

.kill-team-fire-team{margin-top:1em;}
.kill-team-fire-team .datasheet {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
}

.kill-team-operative{width:100%;padding:0.5em;border:1px solid var(--orange);}
.kill-team-operative header {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.kill-team-operative header > *{width:50%}
.kill-team-operative .operative-name {
    background-color: var(--black);
    color: var(--white);
    padding: 3px;
    border: 1px solid var(--orange);
    padding-bottom: 1em;
    text-transform: uppercase;
}
.kill-team-operative .operative-stats{border:1px solid var(--orange);}
.kill-team-operative .operative-stats th{background-color:var(--orange);padding:3px;}
.kill-team-operative .operative-stats td{padding:3px;}

.kill-team-operative .kill-team-weapons{margin:0.5em 0;}

.kill-team-operative .operative-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 0.5em;
}
.kill-team-operative .operative-info .operative-abilities,
.kill-team-operative .operative-info .operative-actions {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.kill-team-operative .operative-info .title{font-size:1.15em;font-weight:bold;padding:3px;color:inherit;background-color:var(--gray);}
.kill-team-operative .operative-info .content {
    flex-grow: 1;
    padding: 6px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0.5em;
}

@media (max-width: 576px) {
    html{font-size:10px;}
    :root{--icon-size: var(--icon-size-small);}
    .kill-team-operative header{flex-direction:column;}
    .kill-team-operative header > *{width:100%}
    .kill-team-operative .operative-info{flex-direction:column;}
    .kill-team-operative .operative-info .operative-abilities,
    .kill-team-operative .operative-info .operative-actions{width:100%;}
}
