:root{
    --black: #000000;
    --white: #ffffff;
    --orange: #c54c21;
    --blue: #184a96;
    --gray: #b4bbb4;
    --light-gray: #dee2e1;
    --dark-gray: #515a5c;
    --mid-gray: #676767;
    --font: #dadada;
    --icon-size: 48px;
    --icon-size-small: 32px;
}
:root{
    --faction-generic: url('../assets/faction/generic.png');
    --faction-aeldari: url('../assets/faction/aeldari.png');
    --faction-chaos: url('../assets/faction/chaos.png');
    --faction-genestealer: url('../assets/faction/genestealer_cults.png');
    --faction-imperium: url('../assets/faction/imperium.png');
    --faction-necron: url('../assets/faction/necron.png');
    --faction-ork: url('../assets/faction/ork.png');
    --faction-spacemarines: url('../assets/faction/spacemarines.png');
    --faction-tau: url('../assets/faction/tau.png');
    --faction-tyranid: url('../assets/faction/tyranid.png');
    --faction-votann: url('../assets/faction/votann.png');
    --d6-0: url('../assets/image/d6-0.png');
    --d6-1: url('../assets/image/d6-1.png');
    --d6-2: url('../assets/image/d6-2.png');
    --d6-3: url('../assets/image/d6-3.png');
    --d6-4: url('../assets/image/d6-4.png');
    --d6-5: url('../assets/image/d6-5.png');
    --d6-6: url('../assets/image/d6-6.png');
}
*,*::before,*::after{box-sizing:border-box;min-width:0;}
html {
    font-family: 'Verdana','sans-serif';
    font-size: 12px;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
table{width:100%;border-collapse:collapse;}
a{text-decoration-style:dotted;color:inherit;}
input,select{font-family:inherit;}

.rotate-cw-90 {
    rotate: 90deg;
}
.inline-icon,
.inline-image{display:inline-block;max-height:1.25em;line-height:1.25em;vertical-align:middle;}
.title{text-transform:uppercase;color:var(--orange);}
.title .button{background:var(--orange);color:var(--white);border:0;}

.flex{display:flex;align-items:flex-start;}
.flex.row{flex-direction:row;}
.flex.column{flex-direction:column;}
.flex.nowrap{flex-wrap:nowrap;}
.flex.gap{gap:1em;}
.flex.stretch{align-items:stretch;}
.flex.center{align-items:center;justify-content:center;}
.flex.extendsChildren > *{flex-grow:1;}

.interactable{cursor:pointer;}
.button{
    display: inline-block;
    text-align: center;
    line-height: 1em;
    padding: 6px 12px;
    margin: 0 0.25em;
    border: 1px solid var(--dark-gray);
    border-radius: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a.button{text-decoration:none;}
.button.orange {
    background-color: var(--orange);
    color: var(--white);
    border: 0;
}

.elevatedButton {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    line-height: 0.75em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 var(--dark-gray);
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.elevatedButton:hover{box-shadow:0 0 0 0 transparent;}
.elevatedButton:active{box-shadow:inset 1px 1px 2px 0 var(--dark-gray);}

.textAsInput {
    width: 100%;
    min-height: calc(1em + 0.25em * 2 + 1px * 2);
    background-color: var(--white);
    padding: 0.25em 0.5em;
    line-height: 1em;
    border: 1px solid var(--black);
}
.textAsInput.textarea{
    min-height: calc(calc(1em + 0.25em * 2) * 3 + 1px * 2);
}
.numberIconAsInput {
    width: 3em;
    height: 3em;
    padding: 1em;
    line-height: 1em;
    border: 1px solid var(--black);
}

.toggle-show,.toggle-hide{position:relative;padding-right:3em;cursor:pointer;}
.toggle-show::before {
    content: "▲";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    translate: -1em -50%;
    color: inherit;
}
.toggle-hide::before {
    content: "▼";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    translate: -1em -50%;
    color: inherit;
}
